
#header{
    margin: 0 auto;
}

#header-img{
    width: 95vw;
    height: 85vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nav-bar{
position: fixed;
width: 100%;
z-index: 1;
}
#video{
    width: 75%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    #video{
        width: 100%;
        height: auto;
    }
  }